# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Docker-related files
*.dockerignore

# Python packages
*.egg
*.egg-info/
dist/
build/
.eggs/

# Logs and other files
*.log
.DS_Store
